  <!-- Hero Section -->
  <div class="bg-white">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block">Prontuário</span>
          <span class="block text-cyan-600">Fácil</span>
        </h1>
        <p class="mt-6 text-lg text-gray-600 sm:mt-8 sm:max-w-xl sm:mx-auto">
          Crie, gerencie e rode suas estatísticas de maneira fácil e ágil.
        </p>
        <div class="mt-8 flex justify-center space-x-4">
          <%= link_to "Fazer login", login_path, class: "px-8 py-3 text-white bg-cyan-600 hover:bg-cyan-700 rounded-md text-lg font-medium" %>
          <%= link_to "Cadastrar", signup_path, class: "px-8 py-3 text-cyan-600 bg-gray-100 hover:bg-gray-200 rounded-md text-lg font-medium" %>
        </div>
      </div>
    </div>
  </div>
