<%= render 'pages/partials/sidebar' %>
<main class="flex-1 p-8 ml-64">
  <%= turbo_frame_tag 'content' do %>
    <%= render params[:partial] ? "pages/partials/dash_#{params[:partial]}" : 'pages/partials/dash_home' %>
  <% end %>
</main>
